html, body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#faf3f3, #cfcaf7);
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-body {
  max-width: 600px;
  margin: 50px auto;
}

.weather-app {
  background-color:whitesmoke;
  border: 2px solid #c1a1d3;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.weather-app2 {
  background-color:whitesmoke;
  border: 2px solid #c1a1d3;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  
}

h1.location {
  color:#513C71;
  font-size: 40px;
  line-height: 30px;
  margin-bottom: 0px;
  text-decoration: solid;
}

#date {
  color:#513C71;
  margin-top: 15px;
}

#description {
  color:#513C71;
  margin-top: 1px;
}

#description:first-letter {
  text-transform: uppercase;
}

#icon {
  height: 70px;
  width: 70px;
  position:relative;
}

#temperature {
  color:#513C71;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
}

#metric {
  color:#513C71;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  line-height: 24px;
  padding-left: 6px;
  vertical-align: top;
  margin-top: 8px;
}

#celsius-link, #fahrenheit-link {
  text-decoration: none;
}

.active {
  color:#513C71;
  cursor: default;
}

.active:hover{
  text-decoration: none;
}

li {
color: #513C71;
font-size: 16px;
font-weight: 400;
list-style: none;
margin: 0;
padding: 0;
}

.city-bar {
  color: #4a48a2;
  background: #faf3f3;
  border: 2px solid #c1a1d3;
  border-radius: 30px;
  margin: 10px auto;
  font-size: 18px;
}

.search-button {
  background: #7d51e8;
  color: white;
  font-size: 12px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  margin-left: 10px;
}

.search-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

footer {
  font-size: 14px;
  line-height: 2;
  text-align: center;
}
.open-source-link {
  color:#B62A67;
}

.weather-forecast {
  margin-top:20px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 12px;
  opacity:0.6;

}

.weather-forecast-temperature {
  font-size:10px;
  color:black;
}

.weather-forecast-temperature-min {
opacity:0.5;
}